html {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  font-family: 'Mali', cursive;
  height: 100%;
}

.top-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  min-height: calc(calc(var(--vh, 1vh) * 100) - 61px);
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

footer {
  flex: 0 0 45px;
  margin-top: auto;
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
}

.main {
  padding-top: 17px;
  width: 1250px;
}

.index {
  padding: 0 20px;
}

.index h1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
}

.index h2 {
  font-size: 24px;
  font-weight: 700;
  color: dodgerblue;
}

.index h2:hover {
  text-decoration: underline;
}

.index-item {
  margin-bottom: 15px;
}

.index-item .review-item {
  font-weight: 700;
  /* text-decoration: underline; */
}

.index-item .review-item:hover {
  text-decoration: underline;
}

@media all and (max-width: 1275px) {
  .main {
    width: 100%;
  }
}