.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-top: 7px solid #FFF;
}

#user-button, #hamburger {
  position: relative;
}

#user-button:hover #user-dropdown, #hamburger:hover #user-dropdown2 {
  display: block;
}

#user-dropdown {
  display: none;
  position: absolute;
  background: #eee;
  color: black;
  top: 30px;
  right: 21px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1%;
  z-index: 1;
  width: 110px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

#user-dropdown2 {
  display: none;
  position: absolute;
  background: #eee;
  color: black;
  top: 16px;
  right: -30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1%;
  z-index: 1;
  width: 110px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

#user-dropdown li{
  padding: 5px;
  cursor: pointer;
}

.selectable {
  font-weight: 300;
  cursor: pointer;
  padding: 5px;
}

.select-title {
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
}

#user-dropdown li:hover, .selectable:hover {
  background: rgb(198, 201, 223);
  border-radius: 5%;
}