.main {
  padding-top: 78px;
  width: 1000px;
  height: calc(100% - 78px);
  margin: 0 auto;
}

.index {
  padding: 0 20px;
}

.index h1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
}

.index h2 {
  font-size: 24px;
  font-weight: 700;
  color: dodgerblue;
}

.index h2:hover {
  text-decoration: underline;
}

.index-item {
  margin-bottom: 15px;
}