.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(128, 128, 128, 0.25);
  padding: 10px 12px 12px 12px;
}

.sidebar a:hover {
  text-decoration: underline;
}

.active-route {
  font-weight: 700;
}

.sidebar h2 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 5px;
}