.content {
  padding: 78px 20px 20px 20px;
}

.error {
  color: red;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.form-container h1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  text-align: center;
}

.form-container > form {
  display: flex;
  flex-direction: column;
}

.new-essay form {
  width: inherit;
}

.form-container input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  color: #000;
  margin: 8px 0px;
}

.form-container select {
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 225px;
  padding: 5px;
}

.form-container select, .form-container option {
  font-family: 'Mali', cursive;
}

.form-container .ql-toolbar {
  margin-top: 8px;
}

.form-container .ql-container {
  margin-bottom: 8px;
  min-height: 18em;
}

.editor-wrapper {
  position: relative;
}

.draft-msg {
  position: absolute;
  font-weight: 700;
  right: 0;
  color: seagreen;
}

.form-container input:focus, .form-container select:focus {
  border-color: #333;
}

form button {
  background-color: dodgerblue;
  font-weight: 700;
  color: white;
  border: 1px solid #000;
  border-radius: 5px;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}

form button:hover {
  background-color: #000;
}

.form-submit button {
  margin: 0 15px;
}

input {
  padding: 5px 10px;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto]::before {
  content: "Roboto";
  font-family: 'Roboto', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=mali]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=mali]::before {
  content: "Mali";
  font-family: 'Mali', cursive;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: "14";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: "20";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: "24";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="36px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
  content: "36";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="48px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="48px"]::before {
  content: "48";
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-mali {
  font-family: 'Mali', cursive;
}

.ql-editor strong {
  font-weight: 700;
}