.essay h1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 10px;
  margin-left: 20px;
}

.essay h2 {
  font-size: 24px;
  padding-bottom: 10px;
  margin-left: 20px;
  font-style: italic;
}

.byline {
  font-weight: 700;
  margin-left: 20px;
  color: dodgerblue;
  font-style: italic;
}

.essay .ql-container {
  margin-left: 20px;
}

.essay .index-item {
  font-weight: 700;
  font-style: italic;
  margin-left: 20px;
}

.no-reviews {
  margin-left: 20px;
}

.essay .review-item {
  text-decoration: underline;
  color: dodgerblue;
}