.new-review {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.new-review form {
  width: 100%;
}

.new-review .ql-toolbar {
  margin: 8px 20px 0 20px;
}

.new-review .ql-container {
  margin: 0 20px 8px 20px;
}

.new-review .essay {
  width: 40%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  padding: 0;
}

.new-review .form-container, .new-review .review {
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
}

.review h1 {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 15px;
  margin-left: 20px;
}

.review .ql-container {
  border: 1px solid black;
  margin-left: 20px;
}